body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url('../images/login4.jpg');
}

a{
    text-decoration: none;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
  }

.container h1{
    text-align: center;
    padding: 0 0 20px 0 ;
    border-bottom: 1px solid silver;
}

.container p{
    text-align: center;
}

.text{
    padding: 40px 40px 20px 50px ;
}

.box{
    width: 90%;
    height: 30px;
}

.box1{
    width: 90%;
    height: 30px;
    margin-top: 20px;
}
.submit_btn{
    padding: 10px 30px 30px 50px  ;
    
}

.submit{
    color: white;
    background:rgb(73, 133, 67);
    border: 1px;
    width: 72%;
    height: 35px;
    margin-bottom: 40px;
}

.submit:hover{
    color: black;
}