body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url('../images/login4.jpg');
}

a{
    text-decoration: none;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.container h1{
    text-align: center;
    padding: 0 0 20px 0 ;
    border-bottom: 1px solid silver;
}

.container form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text label{
    position: absolute;
    top: 50%;
    left: 30px;
    color: #adadad;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.text input:focus ~ label,
.text input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.text input:focus ~ span::before,
.text input:valid ~ span::before{
    width: 100%;
    
}
.forget {
    margin: -5px 0 20px 5px;
    cursor: pointer;
}
.forget a{
    color: #a6a6a6;
}
.forget:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width:100%;
    height:50px;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    background:rgb(73, 133, 67);
    cursor: pointer;
}
.submit:hover{
    border: none;
    color: black;
}

.signup{
    padding: 20px 0 20px 0;
}

.signup a{
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 133, 67);
}

.signup a:hover{
    text-decoration: underline;
}