body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url('../images/login4.jpg');
}

a{
    text-decoration: none;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
  }
  
  .container h1{
      text-align: center;
      padding: 0 0 20px 0 ;
      border-bottom: 1px solid silver;
  }
  
  .container form{
      padding: 0 40px;
      box-sizing: border-box;
  }

  form .text{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

input[type="submit"]{
    width:100%;
    height:50px;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    background:rgb(73, 133, 67);
    cursor: pointer;
}
.submit:hover{
    border: none;
    color: black;
}

.log {
    padding: 40px 0 20px 0;
}

.log a{
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 133, 67);
}

.log a:hover{
    text-decoration: underline;
}